/*#wrap's max-width and margin settings were designed by Prof. Brown http://github.com/umiami-web-design/grid-templates*/

@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:400,700');

#wrap {
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  border-width: 5px;
  border-style: solid;
  border-color: orange;
}

body {
  background-color: #000080;
  font-family: 'Lato', sans-serif;
  color: #222;
}

section {
  margin-bottom: 20px;
}

header {
  color: orange;
}

h1 {
  color: #000080;
}

h1, h2, h3 {
  padding: 3px 10px
}

h2 {
  color: orange;
  background-color: #000080;
  border-top-style: solid;
  border-top-width: 5px;
  border-bottom-style: solid;
  border-bottom-width: 5px;

}

h4, p {
  padding: 0 40px;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}


img {
  border-width: 5px;
  border-color: #000080;
  border-style: solid;
  max-width: 200px;
  height: auto;
  position: auto;
}

nav ul {
  list-style-type: none;
  padding-left: 10px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #000080;
  text-decoration: none;
}

a:visited {
  color: #696969;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

a:active {
  color: teal;
}

nav a {
  background-color: orange;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

nav a:hover {
  color: #00FFFF;
  text-decoration: none;
}
