/*#wrap's max-width and margin settings were designed by Prof. Brown http://github.com/umiami-web-design/grid-templates*/

@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:400,700');

#header {
  text-align: center;
}


#wrap {
  max-width: 680px;
  margin: 0 auto;
}

footer {
font-size: 10px;
background-color: #d3d3d3
}

body {
  background-color: #d3d3d3;
  font-family: 'Lato', sans-serif;
  color: #222;
}

article p {
  font-size: 16px;
}


article {
  background-color: #fff;
  padding: 3px 20px;
}

header {
  color: orange;
}

h1 {
  color: #000080;
}

h1, nav ul {
    background-color: white;
    margin: 0;
}

body {
  padding: 0 8px
}

h2 {
  color: orange;
  background-color: #000080;
  padding: 8px;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  margin-bottom: 0;
}


h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}


img {
  border-width: 4px;
  border-color: black;
  border-style: solid;
  max-width: 200px;
  height: auto;
  position: auto;
}

#pics {
  align-items: center;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0
}

nav li {
  display: inline-block;
  padding: 15px 5px;
}

a {
  color: #000080;
  text-decoration: none;
}

a:visited {
  color: #696969;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

a:active {
  color: teal;
}

nav a, nav a:visited {
  color: orange;
  background-color: #000080;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

nav a:hover {
  color: white;
  text-decoration: none;
}
